<h3>Results</h3>
{{#if results}}
  <table class="table">
    <th>Title</th><th>Author(s)</th><th></th><th></th>
    {{#each results}}
      <tr>
        <td><a href="/book-admin/{{this.id}}">{{this.title}}</a></td>
        <td>
          {{#each this.author}}
            {{this}}
            {{#unless @last}}, {{/unless}}
          {{/each}}
        </td>
        <td><a href="/books/edit/{{this.id}}">edit</a></td>
        <td><a href="/books/delete/{{this.id}}">delete</a></td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <h4>Nothing Found!</h4>
{{/if}}

<a href="/admin/search">Go back to search</a>