{{>admin-nav}}
<section class="book">
  <h3>{{title}}</h3>
  <b>Author(s)</b>
  {{#each data.author}}
    {{this}}
    {{#unless @last}}, {{/unless}}
  {{/each}}<br />

  <b>Description</b>
  {{data.description}}<br />
  <b>Genre(s)</b>
  {{#each data.genre}}
    {{this}}
    {{#unless @last}}, {{/unless}}
  {{/each}}<br />
  <b>ISBN12</b>
  {{data.isbn13}}<br />
  <b>ISBN10</b>
  {{data.isbn10}}<br />
  <b>Year Released</b>
  {{data.releaseYear}}<br />
  <b>Average Rating</b>
  {{data.avgRating}}<br />
  <nav class="bottom-nav">
  <a href="/books/edit/{{data.id}}">Edit Book</a>
  <a href="/books/delete/{{data.id}}">Delete Book</a>

</nav>
</section>
