<h3>{{title}}</h3>
Authors:
{{#each data.author}}
  {{this}}
  {{#unless @last}}, {{/unless}}
{{/each}}<br />

Description:
{{data.description}}<br />
Genre:
{{#each data.genre}}
  {{this}}
  {{#unless @last}}, {{/unless}}
{{/each}}<br />
ISBN12:
{{data.isbn13}}<br />
ISBN10:
{{data.isbn10}}<br />
Year:
{{data.releaseYear}}<br />
Average Rating:
{{data.avgRating}}<br />
<a href="/books/edit/{{data.id}}">Edit Book</a>
<p><a href="/books/delete/{{data.id}}">Delete Book</a></p>
<p><a href="/admin">Go home</a></p>