{{>admin-nav}}
<section class="main">
<form method="post" action="/admin/user/edit" class="form-group">

  <label for="firstName">First Name</label><br>
    <input
      type="text"
      id="firstName"
      name="firstName"
      value="{{data.firstName}}"
    /><br>

  <label for="lastName">Last Name</label><br>
    <input
      type="text"
      id="lastName"
      name="lastName"
      value="{{data.lastName}}"
    /><br>

  <label for="email">Email</label><br>
    <input type="text" id="email" name="email" value="{{data.email}}" /><br>
  <label for="admin">Admin (check if yes)</label><br>
  <input type="checkbox" id="admin" name="admin" {{#if data.admin}}checked{{/if}}>

<br>  

  <label for="bio">Bio</label><br>
    <input type="text" id="bio" name="bio" value="{{data.bio}}" /><br>

  <input type="hidden" id="id" name="id" value="{{data.id}}" /><br>
  <input type="submit" />
</form>
<nav class="bottom-nav">
<a href="/admin/users">Go back</a>
</nav>
</section>